:root {
    --bg: #e0e5ec;
    --key-color: #eef2f5;
    --key-text: #555;
    --key-shadow-light: #ffffff;
    --key-shadow-dark: #a3b1c6;
    --action-color: #3b82f6;
    
    --action-text: #333;

    --gap: 6px;
    --radius: 6px;
    --base-unit: 10px;
    
}

body {
    background-color: var(--bg);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Roboto Mono', monospace;
    margin: 0;
}


.keyboard-case {
    background: var(--bg);
    padding: 20px;
    border-radius: 20px;
    display: flex;
    gap: 20px;
    

    
    box-shadow:
        20px 20px 60px #bec3c9,
        -20px -20px 60px #ffffff;
    border: 1px solid rgba(255, 255, 255, 0.4);
}


.key {
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--radius);
    background: var(--key-color);
    color: var(--key-text);
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
    user-select: none;

    
    box-shadow:
        3px 3px 6px var(--key-shadow-dark),
        -2px -2px 5px var(--key-shadow-light);
    border: 1px solid rgba(255, 255, 255, 0.2);
    transition: 0.1s ease;
}


.key:active {
    box-shadow:
        inset 2px 2px 5px var(--key-shadow-dark),
        inset -2px -2px 5px var(--key-shadow-light);
    transform: translateY(1px);
    color: #333;
}


.action {
    background: #dbeafe;
    
    color: #1e3a8a;
}

.key.func {
    font-size: 11px;
    color: #777;
}


.section-main {
    display: grid;
    
    grid-template-columns: repeat(60, 1fr);
    
    gap: var(--gap);
    
    width: 800px;
}


.u-4 {
    grid-column: span 4;
}


.u-2 {
    grid-column: span 2;
    visibility: hidden;
}


.u-5 {
    grid-column: span 5;
}


.u-6 {
    grid-column: span 6;
}


.u-7 {
    grid-column: span 7;
}


.u-8 {
    grid-column: span 8;
}


.u-9 {
    grid-column: span 9;
}


.u-11 {
    grid-column: span 11;
}


.u-25 {
    grid-column: span 25;
}



.gap {
    pointer-events: none;
}


.section-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    width: 140px;
}

.nav-top,
.nav-mid,
.nav-arrows {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
}

.nav-mid {
    margin-top: 15px;
}


.empty {
    visibility: hidden;
}


.section-numpad {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 45px;
    
    gap: var(--gap);
    width: 190px;
}

.num-gap {
    grid-column: span 4;
    height: 45px;
    
    visibility: hidden;
    margin-bottom: var(--gap);
}


.tall-plus {
    grid-column: 4 / 5;
    grid-row: 3 / 5;
    
    height: auto;
    
}

.tall-enter {
    grid-column: 4 / 5;
    grid-row: 5 / 7;
    
    height: auto;
    background: #dbeafe;
}

.wide-zero {
    grid-column: 1 / 3;
    
}